/* Variables */
:root {
    --main-trans: 0.3s;
    --hover-color: #f6f6f6;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;
}
/* End Variables */



/* Global Rules */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-title h1{
    margin: 0;
    padding: 20px;
    position: relative;
    width: fit-content;
}

.main-title h1::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: white;
    bottom: 10px;
    left: 20px;
}

.main-title h1::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: black;
    bottom: 10px;
    left: 20px;
}
/* End Global Rules */



/* Local Rules */
.page {
    display: flex;
    flex-wrap: wrap;
}

aside {
    height: 100vh;
    width: 220px;
    padding: 20px;
    box-shadow: 0 0 8px 2px rgb(194, 194, 194);
    position: relative;
}

aside h3 {
    width: fit-content;
    margin: 0 auto 40px;
    position: relative;
}

aside h3::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 120%;
    bottom: -15px;
    left: 50%;
    translate: -50%;
}

aside h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    bottom: -23px;
    left: 50%;
    translate: -50%;
    border-radius: 50%;
    border: 4px solid white;
}

aside ul li a {
    display: block;
    padding: 10px;
    border-radius: 6px;
    color: black;
    width: 100%;
    transition: var(--main-trans);
    margin-bottom: 5px;
    position: relative;
    padding-left: 38px;
    font-size: 15px;
}

aside ul li a::before {
    position: absolute;
    font-family: "Font Awesome 6 Free"; /* or "Font Awesome 6 Free", depending on your version */
    font-weight: 900; /* This sets the icon weight, 900 for solid, 400 for regular, etc. */
    left: 10px;
    top: 50%;
    translate: 0 -50%;
}

aside ul li a:hover {
    background-color: var(--hover-color);
}

aside ul li a.active {
    background-color: var(--hover-color);
}

aside ul li:first-of-type a::before {
    content: "\f201";
}

aside ul li a[href="#settings.html"]::before {
    content: "\f013";
    margin-left: -1px;
}

aside ul li a[href="#profile.html"]::before {
    content: "\f007";
}

aside ul li a[href="#projects.html"]::before {
    content: "\e13b";
}

aside ul li a[href="#courses.html"]::before {
    content: "\f19d";
    margin-left: -1px;
}

aside ul li a[href="#friends.html"]::before {
    content: "\f500";
    margin-left: -1px;
}

aside ul li a[href="#files.html"]::before {
    content: "\f15b";
    margin-left: 2px;
}

aside ul li a[href="#plans.html"]::before {
    content: "\f09d";
}

main {
    /* width: 100%; */
    flex-grow: 1;
}

main header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

main header .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

main header .prof-img {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
}

main header .prof-img img {
    max-width: 100%;
    border-radius: 50%;
}

main header .right i {
    font-size: 20px;
    position: relative;
}

main header .right i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    top: -5px;
    right: -8px;
}

main header .search-box {
    position: relative;
    height: fit-content;
    max-width: 200px;
}

main header .search-box::before {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    left: 10px;
    font-weight: 900;
    color: var(--grey-color);
    bottom: 11px;
}

main header input {
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 10px 0;
    padding-left: 37px;
    width: 170px;
    transition: var(--main-trans);
}

main header input:focus {
    width: 200px;
}

main header input:focus::placeholder {
    color: white;
}

main header input::placeholder {
    font-size: 13px;
}

main .main-page {
    background-color: #f1f5f9;
    height: calc(100vh - 70.4px);
    margin: 0
}
/* End Local Rules */



/* Media Queries */
/* Custom */
@media (width <= 769px) {
    aside ul li a span {
        display: none;
    }
    
    aside h3 {
        font-size: 13px;
        margin-bottom: 20px;
    }

    aside h3::before,
    aside h3::after {
        display: none;
    }

    aside {
        width: fit-content;
    }

    aside ul li a {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
    }

    aside ul li a::before,
    aside ul li a::after {
        text-align: center;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    aside {
        padding: 10px
    }

    main header input {
        width: 120px;
        font-size: 12px;
    }

    main header input::placeholder {
        font-size: 12px;
    }

    main header input:focus {
        width: 120px;
    }
}
/* End Custom */

/* Main Queries */
@media (min-width: 769px) {
    
}

@media (min-width: 992) {
    
}

@media (min-width: 1200px) {
    
}
/* End Main Queries */
/* End Media Queries */