/* Variables */
:root {
    --main-trans: 0.3s;
    --hover-color: #f6f6f6;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;
    --border-light: #ececec;
    --shadow: 0 0 8px 2px rgb(194, 194, 194);
    --shadow-light: 0 0 6px 2px rgb(221, 221, 221);
}
/* End Variables */



/* Global Rules */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-title h1{
    margin: 0;
    padding: 20px;
    position: relative;
    width: fit-content;
}

.main-title h1::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: white;
    bottom: 10px;
    left: 20px;
}

.main-title h1::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: black;
    bottom: 10px;
    left: 20px;
}
/* End Global Rules */



/* Local Rules */
.page {
    display: flex;
    /* flex-wrap: wrap; */
}

aside {
    width: 220px;
    padding: 20px;
    box-shadow: 0 0 8px 2px rgb(194, 194, 194);
    position: relative;
}

aside h3 {
    width: fit-content;
    margin: 0 auto 40px;
    position: relative;
}

aside h3::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 120%;
    bottom: -15px;
    left: 50%;
    translate: -50%;
}

aside h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    bottom: -23px;
    left: 50%;
    translate: -50%;
    border-radius: 50%;
    border: 4px solid white;
}

aside ul li a {
    display: block;
    padding: 10px;
    border-radius: 6px;
    color: black;
    width: 100%;
    transition: var(--main-trans);
    margin-bottom: 5px;
    position: relative;
    padding-left: 38px;
    font-size: 15px;
}

aside ul li a::before {
    position: absolute;
    font-family: "Font Awesome 6 Free"; /* or "Font Awesome 6 Free", depending on your version */
    font-weight: 900; /* This sets the icon weight, 900 for solid, 400 for regular, etc. */
    left: 10px;
    top: 50%;
    translate: 0 -50%;
}

aside ul li a:hover {
    background-color: var(--hover-color);
}

aside ul li a.active {
    background-color: var(--hover-color);
}

aside ul li:first-of-type a::before {
    content: "\f201";
}

aside ul li a[href="settings.html"]::before {
    content: "\f013";
    margin-left: -1px;
}

aside ul li a[href="profile.html"]::before {
    content: "\f007";
}

aside ul li a[href="projects.html"]::before {
    content: "\e13b";
}

aside ul li a[href="courses.html"]::before {
    content: "\f19d";
    margin-left: -1px;
}

aside ul li a[href="friends.html"]::before {
    content: "\f500";
    margin-left: -1px;
}

aside ul li a[href="files.html"]::before {
    content: "\f15b";
    margin-left: 2px;
}

aside ul li a[href="plans.html"]::before {
    content: "\f09d";
}

main {
    /* width: 100%; */
    flex-grow: 1;
    overflow: hidden;
}

main header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

main header .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

main header .prof-img {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
}

main header .prof-img img {
    max-width: 100%;
    border-radius: 50%;
}

main header .right i {
    font-size: 20px;
    position: relative;
}

main header .right i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    top: -5px;
    right: -8px;
}

main header .search-box {
    position: relative;
    height: fit-content;
    max-width: 200px;
}

main header .search-box::before {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    left: 10px;
    font-weight: 900;
    color: var(--grey-color);
    bottom: 11px;
}

main header input {
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 10px 0;
    padding-left: 37px;
    width: 170px;
    transition: var(--main-trans);
}

main header input:focus {
    width: 200px;
}

main header input:focus::placeholder {
    color: white;
}

main header input::placeholder {
    font-size: 13px;
}

main .main-page {
    background-color: #f1f5f9;
    margin: 0;
    padding-bottom: 30px;
}

main .main-page .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fill, 430px);
    padding: 20px;
}

main .main-page .grid div {
    background-color: white;
    border-radius: 10px;

}

main .main-page .grid .welcome .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e9e9e9;
    padding: 20px;
    height: 35%;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main .main-page .grid .welcome .info::after {
    content: "";
    background-image: url(../images/profile.jpg);
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -30px;
    left: 20px;
    z-index: 2;
    border: 4px solid white;
    box-shadow: 0 0 6px 2px rgb(221, 221, 221);
}

main .main-page .grid .welcome .info h2,
main .main-page .grid .welcome .info h4 {
    width: fit-content;
}

main .main-page .grid .welcome .info h4 {
    margin-top: 7px;
    color: var(--grey-color);
    font-weight: normal;
    font-size: 15px;
}

main .main-page .grid .welcome .info .welcome-img {
    align-self: flex-end;
    max-width: 200px;
    translate: 0 -50px;
    background-color: transparent;
}

main .main-page .grid .welcome .info .welcome-img img {
    max-width: 100%;
}

main .main-page .grid .welcome .text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
    padding: 20px 0;
}

main .main-page .grid .welcome .text .col {
    width: 116px;
}

main .main-page .grid .welcome .text .col h4{
    font-weight: 500;
    color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

main .main-page .grid .welcome .text .col p {
    font-size: 14px;
    color: var(--grey-color)
}

main .main-page .grid .welcome a {
    display: block;
    color: white;
    background-color: var(--blue-color);
    transition: var(--main-trans);
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 15px;
    width: fit-content;
    font-size: 14px;
}

main .main-page .grid .welcome a:hover {
    background-color: var(--blue-alt-color);
}

main .main-page .grid .draft {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

main .main-page .grid .draft h4 {
    margin-top: 10px;
    color: var(--grey-color);
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
}

main .main-page .grid .draft input[type=text],
main .main-page .grid .draft textarea {
    width: 100%;
    padding: 10px;
    background-color: #e9e9e9;
    outline: none;
    border: none;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 13px;
    resize: none;
}

main .main-page .grid .draft textarea {
    height: 180px;
}

main .main-page .grid .draft input[type='submit'] {
    display: block;
    color: white;
    background-color: var(--blue-color);
    transition: var(--main-trans);
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
    margin-left: auto;
    width: fit-content;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}

main .main-page .grid .draft input[type='submit']:hover {
    background-color: var(--blue-alt-color);
}

main .main-page .grid .targets {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

main .main-page .grid .targets h2 + h4 {
    margin-bottom: 20px;
}

main .main-page .grid .targets h4 {
    margin-top: 10px;
    color: var(--grey-color);
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
}

main .main-page .grid .targets .row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

main .main-page .grid .targets .row .icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-page .grid .targets .row .icon i {
    font-size: 20px;;
}

main .main-page .grid .targets .row:first-of-type .icon {
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}

main .main-page .grid .targets .row:nth-of-type(2) .icon {
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}

main .main-page .grid .targets .row:last-of-type .icon {
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}

main .main-page .grid .targets .row .tar h3 {
    font-size: 16px;
}

main .main-page .grid .targets .row .tar {
    flex-grow: 1;
}

main .main-page .grid .targets .row .tar .prog-bar {
    width: 100%;
    height: 4px;
    margin-top: 10px;
}

main .main-page .grid .targets .row .tar .prog-bar .prog {
    position: relative;
}

main .main-page .grid .targets .row:first-of-type .prog-bar {
    background-color: rgb(0 117 255 / 20%);
}

main .main-page .grid .targets .row:first-of-type .prog-bar .prog::before {
    content: "80%";
    color: white;
    position: absolute;
    font-size: 14px;
    text-align: center;
    right: -17px;
    top: -40px;
    padding: 5px;
    background-color: var(--blue-color);
    border-radius: 6px;
}

main .main-page .grid .targets .row:first-of-type .prog-bar .prog::after {
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    width: 10px;
    height: 10px;
    rotate: 45deg;
    top: -20px;
    right: -4px;
}

main .main-page .grid .targets .row:first-of-type .prog-bar .prog {
    width: 80%;
    height: 100%;
    background-color: var(--blue-color);
}

main .main-page .grid .targets .row:nth-of-type(2) .prog-bar {
    background-color: rgb(245 158 11 / 20%);
}

main .main-page .grid .targets .row:nth-of-type(2) .prog-bar .prog {
    width: 55%;
    height: 100%;
    background-color: var(--orange-color);
}

main .main-page .grid .targets .row:nth-of-type(2) .prog-bar .prog::before {
    content: "55%";
    color: white;
    position: absolute;
    font-size: 14px;
    text-align: center;
    right: -17px;
    top: -40px;
    padding: 5px;
    background-color: var(--orange-color);
    border-radius: 6px;
}

main .main-page .grid .targets .row:nth-of-type(2) .prog-bar .prog::after {
    content: "";
    position: absolute;
    background-color: var(--orange-color);
    width: 10px;
    height: 10px;
    rotate: 45deg;
    top: -20px;
    right: -4px;
}

main .main-page .grid .targets .row:last-of-type .prog-bar {
    background-color: rgb(34 197 94 / 20%);
}

main .main-page .grid .targets .row:last-of-type .prog-bar .prog {
    width: 75%;
    height: 100%;
    background-color: var(--green-color);
}

main .main-page .grid .targets .row:nth-of-type(3) .prog-bar .prog::before {
    content: "75%";
    color: white;
    position: absolute;
    font-size: 14px;
    text-align: center;
    right: -17px;
    top: -40px;
    padding: 5px;
    background-color: var(--green-color);
    border-radius: 6px;
}

main .main-page .grid .targets .row:nth-of-type(3) .prog-bar .prog::after {
    content: "";
    position: absolute;
    background-color: var(--green-color);
    width: 10px;
    height: 10px;
    rotate: 45deg;
    top: -20px;
    right: -4px;
}

main .main-page .grid .statistics {
    padding: 20px;
}

main .main-page .grid .statistics h2 + h4 {
    margin-bottom: 20px;
}

main .main-page .grid .statistics h4 {
    margin-top: 10px;
    color: var(--grey-color);
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
}

main .main-page .grid .statistics .inner-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .main-page .grid .statistics .inner-flex .card {
    border: 1px solid var(--border-color);
    flex-basis: 48%;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-page .grid .statistics .inner-flex .card i {
    font-size: 26px;
    margin-bottom: 10px;
}

main .main-page .grid .statistics .inner-flex .card h2 + h4 {
    margin-bottom: 0;
    font-size: 13px;
}

main .main-page .grid .statistics .inner-flex .card:first-of-type i {
    color: var(--orange-color)
}

main .main-page .grid .statistics .inner-flex .card:nth-of-type(2) i {
    color: var(--blue-alt-color)
}

main .main-page .grid .statistics .inner-flex .card:nth-of-type(3) i {
    color: var(--green-color)
}

main .main-page .grid .statistics .inner-flex .card:last-of-type i {
    color: var(--red-color)
}

main .main-page .grid .news {
    padding: 20px;
}

main .main-page .grid .news .row {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-light);
    border-radius: initial;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

main .main-page .grid .news .row .date {
    background-color: #e9e9e9;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
    text-align: center;
    color: black;
}

main .main-page .grid .news .row:last-of-type {
    padding: 0;
    padding-top: 20px;
    border-bottom: none;
}

main .main-page .grid .news .row .news-img {
    width: 100px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 15px;
}

main .main-page .grid .news .row .news-img img {
    max-width: 100%;
    border-radius: 6px;
}

main .main-page .grid .news .row h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

main .main-page .grid .news .row p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--grey-color);
}

main .main-page .grid .news .row div:first-child {
    display: flex;
    align-items: center;
}

main .main-page .grid .tasks {
    padding: 20px;
}

main .main-page .grid .tasks .row {
    display: flex;
    justify-content: space-between;
    border-radius: initial;
    align-items: center;
}

main .main-page .grid .tasks .row:not(:last-of-type) {
    border-bottom: 1px solid var(--border-light);
}

main .main-page .grid .tasks .row .info h4:first-child {
    margin-top: 15px;
}

main .main-page .grid .tasks .row .info h4:last-child {
    color: var(--grey-color);
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: normal;
}

main .main-page .grid .tasks .row:nth-of-type(4) {
    position: relative;
}

main .main-page .grid .tasks .row:nth-of-type(4)::before {
    position: absolute;
    content: "";
    z-index: 2;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

main .main-page .grid .tasks .row:nth-of-type(4) .info {
    text-decoration: line-through;
}

main .main-page .grid .tasks .row i {
    transition: var(--main-trans);
    cursor: pointer;
}

main .main-page .grid .tasks .row i:hover {
    color: var(--red-color);
}

main .main-page .grid .search-items {
    padding: 20px;
}

main .main-page .grid .search-items h4 {
    margin-top: 20px;
    color: var(--grey-color);
    font-weight: normal;
}

main .main-page .grid .search-items .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

main .main-page .grid .search-items .row:first-of-type {
    margin-top: 10px ;
}

main .main-page .grid .search-items .row div {
    background-color: #e9e9e9;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
}

main .main-page .grid .uploads {
    padding: 20px;
}

main .main-page .grid .uploads > h2:first-child {
    margin-bottom: 5px;
}

main .main-page .grid .uploads .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 0;
}

main .main-page .grid .uploads .row:last-of-type {
    padding-bottom: 0;
}

main .main-page .grid .uploads .row:not(:last-of-type) {
    border-bottom: 1px solid var(--border-light);
}

main .main-page .grid .uploads .row div {
    display: flex;
    align-items: center;
}

main .main-page .grid .uploads .row div .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .main-page .grid .uploads .row div .info h4:last-of-type {
    font-weight: normal;
    color: var(--grey-color);
    margin-top: 5px;
    font-size: 15px;
}

main .grid .uploads .row .file-img {
    width: 40px;
    margin-right: 10px;
}

main .grid .uploads .row .file-img img {
    max-width: 100%;
}

main .main-page .grid .uploads .row > div:last-of-type {
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    background-color: #e9e9e9;
    border-radius: 6px;
}

main .main-page .grid .proj-prog {
    padding: 20px;
    position: relative;
}

main .main-page .grid .proj-prog h2 {
    margin-bottom: 20px;
}

main .main-page .grid .proj-prog .row {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
}

main .main-page .grid .proj-prog .row::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    left: 13px;
    background-color: var(--blue-color);
    top: 14px;
}

main .main-page .grid .proj-prog .row:last-of-type::before {
    width: 0;
}

main .main-page .grid .proj-prog .row div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 2;
    position: relative;
}

main .main-page .grid .proj-prog .row:first-of-type div::before,
main .main-page .grid .proj-prog .row:nth-of-type(2) div::before,
main .main-page .grid .proj-prog .row:nth-of-type(3) div::before {
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

main .main-page .grid .proj-prog .row:nth-of-type(4) div::before {
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: light 1.5s ease-in-out infinite;
}

@keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main .main-page .grid .proj-prog .row h3 {
    font-weight: 500;
    font-size: 16px;
}

main .main-page .grid .proj-prog .prog-img {
    width: 150px;
    position: absolute;
    right: 0px;
    opacity: 0.1;
    bottom: 0px;
    z-index: 2;
}

main .main-page .grid .proj-prog .prog-img img {
    max-width: 100%;
}

main .main-page .grid .reminders {
    padding: 20px;
}

main .main-page .grid .reminders h2 {
    margin-bottom: 20px;
}

main .main-page .grid .reminders .row {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;
}

main .main-page .grid .reminders .row div:first-child {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

main .main-page .grid .reminders .row:first-of-type div:first-child {
    background-color: var(--blue-color);
}

main .main-page .grid .reminders .row:nth-of-type(2) div:first-child {
    background-color: var(--green-color);
}

main .main-page .grid .reminders .row:nth-of-type(3) div:first-child {
    background-color: var(--orange-color);
}

main .main-page .grid .reminders .row:last-of-type div:first-child {
    background-color: var(--red-color);
}

main .main-page .grid .reminders .row .info h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

main .main-page .grid .reminders .row .info p {
    color: var(--grey-color);
    font-size: 12px;
}

main .main-page .grid .reminders .row .info {
    border-left: 2px solid;
    border-radius: 0;
    padding-left: 15px;
}

main .main-page .grid .reminders .row:first-of-type .info {
    border-left-color: var(--blue-color);
}

main .main-page .grid .reminders .row:nth-of-type(2) .info {
    border-left-color: var(--green-color);
}

main .main-page .grid .reminders .row:nth-of-type(3) .info {
    border-left-color: var(--orange-color);
}

main .main-page .grid .reminders .row:last-of-type .info {
    border-left-color: var(--red-color);
}

main .main-page .grid .latest-post {
    padding: 20px;
}

main .main-page .grid .latest-post h2 {
    margin-bottom: 20px;
}

main .main-page .grid .latest-post .author {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-light);
    border-radius: 0;
}

main .main-page .grid .latest-post .author .author-img {
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
}

main .main-page .grid .latest-post .author .author-img img {
    border-radius: 50%;
    max-width: 100%;
}

main .main-page .grid .latest-post .author h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

main .main-page .grid .latest-post .author p {
    color: var(--grey-color);
}

main .main-page .grid .latest-post .author + p {
    margin-top: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.6;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-light);
}

main .main-page .grid .latest-post .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-color);
    margin-top: 15px;
}

main .main-page .grid .social {
    padding: 20px;
}

main .main-page .grid .social h2 {
    margin-bottom: 30px;
}

main .main-page .grid .social .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 0;
    padding-right: 20px;
}

main .main-page .grid .social .row .social-icon {
    height: 100%;
    text-align: center;
    display: flex;
    background-color: transparent;
    align-items: center;
}

main .main-page .grid .social .row .social-icon i {
    font-size: 30px;
    color: white;
    background-color: black;
    transition: var(--main-trans);
    padding: 12px 10px;
    min-width: 54px;
}

main .main-page .grid .social .row .social-icon i:hover {
    rotate: 5deg;
}

main .main-page .grid .social .row .social-icon p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

main .main-page .grid .social .row a {
    display: block;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    min-width: 80px;
}

main .main-page .grid .social .row:first-of-type {
    background-color: rgb(29 161 242 / 20%);
}

main .main-page .grid .social .row:nth-of-type(2) {
    background-color: rgb(24 119 242 / 20%);
}

main .main-page .grid .social .row:nth-of-type(3) {
    background-color: rgb(255 0 0 / 20%);
}

main .main-page .grid .social .row:last-of-type {
    background-color: rgb(0 119 181 / 20%);
}

main .main-page .grid .social .row:first-of-type i {
    background-color: #1da1f2;
}

main .main-page .grid .social .row:first-of-type p {
    color: #1da1f2;
}

main .main-page .grid .social .row:first-of-type a {
    background-color: #1da1f2;
}

main .main-page .grid .social .row:nth-of-type(2) i {
    background-color: #1877f2;
}

main .main-page .grid .social .row:nth-of-type(2) p {
    color: #1877f2;
}

main .main-page .grid .social .row:nth-of-type(2) a {
    background-color: #1877f2;
}

main .main-page .grid .social .row:nth-of-type(3) i {
    background-color: #ff0000;
}

main .main-page .grid .social .row:nth-of-type(3) p {
    color: #ff0000;
}

main .main-page .grid .social .row:nth-of-type(3) a {
    background-color: #ff0000;
}

main .main-page .grid .social .row:last-of-type i {
    background-color: #0077b5;
}

main .main-page .grid .social .row:last-of-type p {
    color: #0077b5;
}

main .main-page .grid .social .row:last-of-type a {
    background-color: #0077b5;
}

main .main-page .projects {
    background-color: white;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
}

main .main-page .projects h2 {
    margin-bottom: 20px;
}

main .main-page .projects .responsive-table {
    overflow-x: auto;
}

main .main-page .projects table {
    font-size: 15px;
    width: 100%;
    border-spacing: 0;
    min-width: 800px;
}

main .main-page .projects table thead {
    background-color: #e9e9e9;
}

main .main-page .projects table thead td{
    padding: 15px 20px;
    font-weight: bold;
}

main .main-page .projects table tbody tr {
    transition: var(--main-trans);
}

main .main-page .projects table tbody tr:hover {
    background-color: rgb(255, 249, 249);
}

main .main-page .projects table tbody td {
    padding: 18px 15px;
    border-bottom: 1px solid var(--border-light);
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
    font-weight: 500;
}

main .main-page .projects table tbody tr td:nth-of-type(5) {
    display: flex;
    align-items: center;
    padding-right: 0;
}

main .main-page .projects table tbody tr .member {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

main .main-page .projects table tbody tr .member:nth-of-type(2) {
    translate: -16px;
}

main .main-page .projects table tbody tr .member:nth-of-type(3) {
    translate: -32px;
}

main .main-page .projects table tbody tr .member:nth-of-type(4) {
    translate: -48px;
}

main .main-page .projects table tbody tr .member img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

main .main-page .projects table tbody tr td:last-of-type span {
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    display: block;
    width: fit-content;
    font-size: 13px;
}

main .main-page .projects table tbody tr td.pending span{
    background-color: var(--orange-color);
}

main .main-page .projects table tbody tr td.in-progress span{
    background-color: var(--blue-color);
}

main .main-page .projects table tbody tr td.completed span{
    background-color: var(--green-color);
}

main .main-page .projects table tbody tr td.rejected span{
    background-color: var(--red-color);
}
/* End Local Rules */








/* Media Queries */
/* Custom */
@media (width <= 769px) {
    aside ul li a span {
        display: none;
    }
    
    aside h3 {
        font-size: 12px;
        margin-bottom: 20px;
        letter-spacing: -1px;
    }

    aside h3::before,
    aside h3::after {
        display: none;
    }

    aside {
        width: fit-content;
    }

    aside ul li a {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
    }

    aside ul li a::before,
    aside ul li a::after {
        text-align: center;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    aside {
        padding: 10px
    }

    main header input {
        width: 150px;
        font-size: 12px;
    }

    main header input::placeholder {
        font-size: 12px;
    }

    main header input:focus {
        width: 170px;
    }

    main .main-page .grid {
        padding: 10px;
    }

    main .main-page .grid .welcome .info {
        height: 25%;
    }

    main .main-page .grid .welcome .info::after {
        left: 50%;
        translate: -50%;
    }

    main .main-page .grid .welcome .info .welcome-img {
        display: none;
    }

    main .main-page .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 500px;
    }

    main .main-page .grid .welcome .text  {
        flex-direction: column;
    }

    main .main-page .grid .welcome .text .col:not(:last-of-type) p {
        margin-bottom: 30px;
    }

    main .main-page .grid .statistics .inner-flex {
        flex-direction: column;
    }

    main .main-page .grid .news .row {
        flex-direction: column;
        text-align: center;
    }

    main .main-page .grid .news .row div:first-child {
        flex-direction: column;
    }

    main .main-page .grid .news .row .news-img {
        margin-bottom: 10px;
    }

    main .main-page .grid .news .row h4 {
        margin-bottom: 10px;
    }

    main .main-page .grid .news .row p {
        margin-bottom: 10px;
    }

    main .main-page .grid .proj-prog .prog-img {
        display: none;
    }

    main .main-page .grid .proj-prog .row h3 {
        font-size: 14px;
    }

    main .main-page .grid .latest-post .author + p {
        text-align: center;
    }

    main .main-page .grid .social .row {
        padding-right: 10px;
    }

    main .main-page .grid .social .row a {
        min-width: fit-content;
        font-size: 12px;
        padding: 5px;
    }

    main .main-page .grid .social .row .social-icon i {
        font-size: 15px;
        padding: 10px;
        min-width: 37px;
    }

    main .main-page .grid .social .row .social-icon p {
        font-size: 13px;
    }
}
/* End Custom */

/* Main Queries */
@media (min-width: 769px) {
    
}

@media (min-width: 992) {
    
}

@media (min-width: 1200px) {
    
}
/* End Main Queries */
/* End Media Queries */