main .main-page.files .flex {
    display: flex;
}

main .main-page.files .flex .grid {
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

main .main-page.files .flex .files-statistics {
    width: 260px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    height: fit-content;
}

main .main-page.files .flex .files-statistics .row {
    display: flex;
    /* align-items: center; */
    border: 1px solid var(--border-light);
    border-radius: 6px;
    padding: 10px;
    margin: 15px 0;
    gap: 10px;
}

main .main-page.files .flex .files-statistics .row i {
    display: block;
    padding: 12px;
    text-align: center;
    border-radius: 0;
    min-width: 42px;
}

main .main-page.files .flex .files-statistics .row .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .main-page.files .flex .files-statistics .row:first-of-type i {
    color: var(--blue-color);
    background-color: #0077ff44;
}

main .main-page.files .flex .files-statistics .row:nth-of-type(2) i {
    color: var(--green-color);
    background-color: #22c55e34;
}

main .main-page.files .flex .files-statistics .row:nth-of-type(3) i {
    color: var(--red-color);
    background-color: #f443362a;
}

main .main-page.files .flex .files-statistics .row:last-of-type i {
    color: var(--orange-color);
    background-color: #f59f0b38;
}

main .main-page.files .flex .files-statistics .row .info p:first-of-type {
    font-size: 13px;
    color: black;
    font-weight: 500;
}

main .main-page.files .flex .files-statistics .row .info p:last-of-type {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 13px;
}

main .main-page.files .flex .files-statistics .row > p {
    align-self: center;
    margin-left: auto;
    color: var(--grey-color);
    font-size: 13px;
}

main .main-page.files .flex .files-statistics a {
    display: block;
    padding: 12px 15px;
    font-size: 13px;
    color: white;
    text-align: center;
    background-color: var(--blue-color);
    transition: var(--main-trans);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 6px;
}

main .main-page.files .flex .files-statistics a:hover {
    background-color: var(--blue-alt-color);
}

main .main-page.files .flex .files-statistics a i {
    display: inline-block;
    margin-right: 10px;
}

main .main-page.files .flex .files-statistics a:hover i {
    animation: arrow 0.8s ease-in-out infinite;
}

@keyframes arrow {
    0%, 100% {
        translate: 0 0;
    }

    50% {
        translate: 0 -5px;
    }
}

main .main-page.files .flex .grid .file {
    position: relative;
    padding: 10px;
}

main .main-page.files .flex .grid .file::before {
    content: "\f019";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--grey-color);
    left: 10px;
    top: 10px;
    position: absolute;
}

main .main-page.files .flex .grid .file img {
    width: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: var(--main-trans);
}

main .main-page.files .flex .grid .file:hover img {
    rotate: 6deg;
}

main .main-page.files .flex .grid .file img + p {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

main .main-page.files .flex .grid .file img + p + p {
    color: var(--grey-color);
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0;
}

main .main-page.files .flex .grid .file .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-light);
    border-radius: 0;
}

main .main-page.files .flex .grid .file .details p {
    color: var(--grey-color);
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0 0;
}

@media (width < 769px) {
    main .main-page.files .flex .files-statistics {
        width: 95%;    
        order: -1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    main .main-page.files .flex {
        flex-direction: column;
        /* align-items: center; */
    }
}